<div class="box box-primary">
  <div class="box-header ui-sortable-handle" style="cursor: move;">
    <i class="ion ion-clipboard"></i>
    <h3 class="box-title">To Do List</h3>
  </div>
  <div class="box-body">
    <ul class="todo-list">
      <li *ngFor="let task of tasks" class="" style="">
        <i *ngIf="task.status" class="fa fa-check-square-o text-yellow"></i>
        <i *ngIf="!task.status" class="fa fa-square-o"></i>
        {{task.title}}
        <span class="text">{{task.description.slice(0, 25)}}{{task.description.length > 25 ? '...' : ''}}</span>
        <small *ngIf="task.remind" class="label label-danger">
          <i class="fa fa-clock-o"></i>{{task.remind | date : "short"}}
        </small>
        <div class="tools">
          <a routerLink="/tasks/{{task._id}}"><i class="fa fa-edit"></i></a>
          <i (click)="destroy(task)" class="fa fa-trash-o"></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="box-footer clearfix no-border">
    <a routerLink="/tasks/new/{{category ? category._id : ''}}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add task</a>
  </div>
</div>
