<div class="box box-primary">
  <div class="box-header ui-sortable-handle" style="cursor: move;">
    <i class="ion ion-clipboard"></i>
    <h3 class="box-title">To Do List</h3>
    <a routerLink="/tasks/new/{{category ? category._id : ''}}" nz-button nzType="primary">Add task</a>
  </div>
  <div class="box-body">
    <ul class="todo-list">
      <li *ngFor="let task of tasks" class="" style="">
        <i *ngIf="task.status" nz-icon type="check-square" theme="outline"></i>
        <i *ngIf="!task.status" nz-icon type="border" theme="outline"></i>
        {{task.title}}
        <span class="text">{{task.description.slice(0, 25)}}{{task.description.length > 25 ? '...' : ''}}</span>
        <small *ngIf="task.remind" class="label label-danger">
          <i class="fa fa-clock-o"></i>{{task.remind | date : "short"}}
        </small>
        <div class="tools">
          <a routerLink="/tasks/{{task._id}}">
            <i nz-icon type="edit" theme="outline"></i>
          </a>
          <i (click)="destroy(task)" nz-icon type="delete" theme="outline"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
