<div class="box box-info">
  <div class="box-header with-border">
    <h3 *ngIf="category" class="box-title">{{category.name | uppercase}} Details</h3>
    <a (click)="goBack()" nz-button nzType="default"> Go back</a>
    <h3 *ngIf="!category" class="box-title">Create new category</h3>
  </div>

  <form nz-form [nzLayout]="'inline'" [formGroup]="categoryForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="inputName">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="name" formControlName="name" type="text" value="{{category ? category.name : '' }}" id="inputName" placeholder="Name" autocomplete="off" required>
      </nz-form-control>
      <nz-form-label [nzSpan]="6" nzFor="inputDescription">Description</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="description" formControlName="description" type="text" value="{{category ? category.description : '' }}" id="inputDescription" placeholder="Description" autocomplete="off" required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
