<div class="box box-info">
  <div class="box-header with-border">
    <a (click)="goBack()" nz-button nzType="default">Go back</a>
    <h3 *ngIf="task" class="box-title">{{task.title | uppercase}} Details</h3>
    <h3 *ngIf="!task" class="box-title">Create a new task in a {{category ? category.name : '' | uppercase}} category </h3>
  </div>
  <form nz-form [nzLayout]="'inline'" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <nz-form-item>

      <nz-form-label [nzSpan]="6" nzFor="inputName">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="name" formControlName="title" type="text" value="{{task ? task.title : '' }}" id="inputName" placeholder="Name" autocomplete="off" required>
      </nz-form-control>

      <nz-form-label [nzSpan]="6" nzFor="inputDescription">Description</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="description" formControlName="description" type="text" value="{{task ? task.description : '' }}" id="inputDescription" placeholder="Description" autocomplete="off" required>
      </nz-form-control>

      <nz-form-label [nzSpan]="6" nzFor="status">Status</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-switch [(ngModel)]="task && task.status" formControlName="status" id="status"></nz-switch>
      </nz-form-control>

      <nz-form-label [nzSpan]="6" nzFor="dateTime">Select Time</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" id="dateTime" nzPlaceHolder="Select Time" [(ngModel)]="task && task.remind" formControlName="remind"></nz-date-picker>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
